@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

p {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

:root {
  --font-family-base: "Euclid Circular A", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;

  --slide-width: 1920px;
  --container-width: 1240px;

  --border-radius: 70px;

  --color-1: #4b4b4b;
  --color-2: #626262;
  --color-3: #625b56;
  --color-4: #746d68;
  --color-5: #f5d4ac;
  --color-6: #ff976a;
  --color-white: #fff;
  --gradient-one: linear-gradient(0deg, #746d68 0%, #4b4b4b 100%);
}

body {
  font-family: var(--font-family-base);
}

/* ==============={ SLIDE 1 }=============== */

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
}

.slide-one {
  margin: 0 auto;
  padding: 36px 0px;

  color: var(--color-white);
  background: var(--gradient-one);

  /* для перехода между слайдами */
  position: relative;
  z-index: 1;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block: 80px;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  width: clamp(250px, 22vw, 426px);
  aspect-ratio: 1;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
}
.title::before {
  background-color: var(--color-6);
  transform: translate(-50%, -50%);
  left: 30%;
  top: 40%;
}

.title::after {
  background-color: var(--color-5);
  transform: translate(50%, -50%);
  right: 30%;
  top: 20%;
}

.title-num {
  margin-right: 0%;
  margin-top: -4%;

  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 188px;

  line-height: 121%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
}

.title-desc {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 49px;
  line-height: 1.21;
  letter-spacing: -0.01em;
  white-space: nowrap;
}

.images {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.image-row {
  display: flex;
  gap: 20px;
}

[class^="image-block-"] {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 610px;
  overflow: hidden;

  border-radius: var(--border-radius);
  box-shadow: 16px 13px 25px -5px rgba(65, 60, 57, 0.21);
  background: var(--color-2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
[class^="image-block-"]:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
  box-shadow: 0 20px 40px rgba(65, 60, 57, 0.5);
}
[class^="image-block-"] > img {
  transition: all 0.1s ease-in-out;
  z-index: 5;
}
.image-flipping {
  opacity: 0;
  transform: scale(0.9);
}

.image-block-1 {
  background-color: #7a7a7b;
}
.image-block-2 {
  position: relative;
  background-color: #7b7b7b;
}
.image-block-2::before {
  position: absolute;
  content: "";
  width: 670px;
  aspect-ratio: 1;
  left: -150px;
  top: 100px;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-white);
}
.image-block-3 {
  position: relative;
}
.image-block-3::before {
  position: absolute;
  content: "";
  width: 670px;
  aspect-ratio: 1;
  left: -100px;
  top: -100px;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-white);
}
.image-block-5 {
  position: relative;
  /* max-height: 610px; */
}
.image-block-5::before {
  position: absolute;
  content: "";
  width: 670px;
  aspect-ratio: 1;
  left: 300px;
  top: -50px;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-white);
}

.image-marker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;

  padding: 10px 29px;

  border-radius: 60px;
  background-color: var(--color-white);
  font-weight: 600;
  font-size: 27px;
  line-height: 1.27;
  letter-spacing: -0.01em;
  color: var(--color-1);
  text-transform: lowercase;
}
.image-marker.left {
  left: 40px;
}
.image-marker.right {
  right: 40px;
}

.image-text {
  position: absolute;
  width: 85%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  font-weight: 600;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

/* ==============={ SLIDE 2 }=============== */

.slide-two {
  margin: 0 auto;
  padding: 36px 0px;

  color: var(--color-white);
  background: var(--color-4);

  /* для перехода между слайдами */
  position: relative;
  z-index: 2;
  margin-top: -1px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.details-slide {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */

  max-height: 650px;
  max-width: 400px;
  width: 100%;

  overflow: hidden;
  border-radius: var(--border-radius);
  background: #a29c9a;
}
.details-slide > img {
  z-index: 5;
}
.details-slide-1 {
  position: relative;
}
.details-slide-1::before {
  position: absolute;
  content: "";
  width: 530px;
  aspect-ratio: 1;
  left: -15%;
  top: 20%;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-5);
}

.details-slide-2 {
  position: relative;
}
.details-slide-2::before {
  position: absolute;
  content: "";
  width: 400px;
  aspect-ratio: 1;
  left: 15%;
  top: 5%;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-6);
}

.details-slide-3 {
  position: relative;
}
.details-slide-3::before {
  position: absolute;
  content: "";
  width: 400px;
  aspect-ratio: 1;
  left: -30%;
  top: -5%;

  border-radius: 50%;
  opacity: 0.7;
  filter: blur(150px);
  background-color: var(--color-white);
}

.details-slide-desc {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;

  text-align: center;
}
.desc-slogan {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.01em;
}
.desc-details {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.21;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

/* ==============={ MEDIA }=============== */

@media (max-width: 1440px) {
  .title {
    margin: 80px;
  }
}

@media (max-width: 1200px) {
  .title {
    margin-block: clamp(40px, 6.67vw, 80px);
  }
  .title-desc {
    font-size: clamp(30px, 4.08vw, 49px);
  }
  .title-num {
    font-size: clamp(100px, 15.66vw, 188px);
  }
  .image-marker {
    padding: 5px 15px;
    font-size: 17px;
  }
  .images {
    row-gap: clamp(5px, 1.04vw, 20px);
  }
  .image-row {
    gap: clamp(5px, 1.04vw, 20px);
  }
  [class^="image-block-"] {
    border-radius: clamp(10px, 1vw, var(--border-radius));
  }
  .image-text {
    font-size: clamp(20px, 2.16vw, 26px);
  }

  /* --- */

  .details {
    gap: clamp(5px, 1.66vw, 20px);
  }
  .details-slide {
    border-radius: clamp(10px, 5.83vw, var(--border-radius));
  }
  .desc-slogan {
    font-size: clamp(6px, 2vw, 24px);
  }
  .desc-details {
    font-size: clamp(8px, 2.83vw, 34px);
  }
}

@media (max-width: 992px) {
  .image-text {
    font-size: 15px;
  }
  .image-marker {
    top: 20px;
  }
  .image-marker.left {
    left: 20px;
  }
  .image-marker.right {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    margin: 10px;
  }
  .image-text {
    font-size: 12px;
  }

  /* --- */

  .details-slide-desc {
    gap: clamp(0px, 1.95vw, 15px);
  }
}

@media (max-width: 576px) {
  .title::before,
  .title::after {
    display: none;
  }
  .image-row {
    flex-direction: column;
  }
  .image-text {
    font-size: clamp(20px, 1.35vw, 26px);
    white-space: inherit;
  }

  /*  */

  .details {
    flex-direction: column;
  }
  .desc-slogan {
    font-size: clamp(18px, 4.16vw, 24px);
  }
  .desc-details {
    font-size: clamp(24px, 5.9vw, 34px);
  }
}

@media (max-width: 360px) {
  .title-desc {
    font-size: 20px;
  }
  .image-text {
    font-size: 15px;
  }
}
