@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

p {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-weight: 700; */
  text-transform: uppercase;
}

:root {
  --font-family-base: "Euclid Circular A", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;

  --slide-width: 1920px;
  --container-width: 1240px;

  --color-1: #4b4b4b;
  --color-2: #626262;
  --color-3: #625b56;
  --color-4: #746d68;
  --color-5: #f5d4ac;
  --color-6: #ff976a;
  --color-white: #fff;
  --gradient-one: linear-gradient(0deg, #746d68 0%, #4b4b4b 100%);
}

body {
  /* min-height: 100vh; */
  background: var(--gradient-one);
  background-attachment: fixed;
}

/* ==============={ 1 slide }=============== */

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.slide-one {
  max-width: var(--slide-width);
  margin: 0 auto;
  padding: 36px 0px;

  font-family: var(--font-family-base);
  color: var(--color-white);
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: clamp(40px, 6.67vw, 80px);
  min-height: 200px;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  width: clamp(250px, 22vw, 426px);
  aspect-ratio: 1;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
}
.title::before {
  background-color: var(--color-6);
  transform: translate(-50%, -50%);
  left: 30%;
  top: 40%;
}

.title::after {
  background-color: var(--color-5);
  transform: translate(50%, -50%);
  right: 30%;
  top: 20%;
}

.title-num {
  margin-right: -10px;
  margin-top: -40px;

  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 188px;
  /* font-size: clamp(100px, 9.79vw, 188px); */
  line-height: 121%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
}

.title-desc {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: 49px;
  /* font-size: clamp(30px, 2.55vw, 49px); */
  line-height: 1.21;
  letter-spacing: -0.01em;
  white-space: nowrap;
}

.images {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;

  padding: 20px;
}

.image-row {
  display: flex;
  gap: 20px;
}

[class^="image-block-"] {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 610px;

  overflow: hidden;
  border-radius: clamp(20px, 5vw, 70px);
  box-shadow: 16px 13px 25px -5px rgba(65, 60, 57, 0.21);
  background: var(--color-2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
[class^="image-block-"]:hover {
  transform: scale(1.02);
  filter: brightness(1.1);
  box-shadow: 0 20px 40px rgba(65, 60, 57, 0.5);
}
[class^="image-block-"] > img {
  z-index: 5;
}
.image-block-1 {
  background-color: #7a7a7b;
}
.image-block-2 {
  position: relative;
  background-color: #7b7b7b;
}
.image-block-2::before {
  position: absolute;
  content: "";
  width: 670px;
  aspect-ratio: 1;
  left: -150px;
  top: 100px;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-white);
}
.image-block-3 {
  position: relative;
}
.image-block-3::before {
  position: absolute;
  content: "";
  width: 670px;
  aspect-ratio: 1;
  left: -100px;
  top: -100px;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-white);
}
.image-block-5 {
  position: relative;
}
.image-block-5::before {
  position: absolute;
  content: "";
  width: 670px;
  aspect-ratio: 1;
  left: 300px;
  top: -50px;

  border-radius: 50%;
  opacity: 0.3;
  filter: blur(150px);
  background-color: var(--color-white);
}

.image-marker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;

  padding: 10px 29px;

  border-radius: 60px;
  background-color: var(--color-white);
  font-weight: 600;
  font-size: 27px;
  line-height: 1.27;
  letter-spacing: -0.01em;
  color: var(--color-1);
  text-transform: lowercase;
}
.image-marker.left {
  left: 40px;
}
.image-marker.right {
  right: 40px;
}

.image-text {
  position: absolute;
  width: 85%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  font-weight: 600;
  font-size: 26px;
  /* font-size: 26px; */
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 1440px) {
  .title {
    margin: 80px;
  }
}

@media (max-width: 1200px) {
  .title-desc {
    font-size: clamp(30px, 4.08vw, 49px);
  }
  .title-num {
    font-size: clamp(100px, 15.66vw, 188px);
  }
  .image-marker {
    padding: 5px 15px;
    font-size: 17px;
  }
  .images {
    row-gap: clamp(5px, 1.04vw, 20px);
  }
  .image-row {
    gap: clamp(5px, 1.04vw, 20px);
  }
  .image-text {
    font-size: clamp(20px, 2.16vw, 26px);
  }
}

@media (max-width: 992px) {
  .image-text {
    font-size: 15px;
  }
  .image-marker {
    top: 20px;
  }
  .image-marker.left {
    left: 20px;
  }
  .image-marker.right {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .title {
    margin: 10px;
    /* flex-direction: column; */
  }
  .image-text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .images {
    padding: 10px;
  }
  .image-row {
    flex-direction: column;
    gap: 10px;
  }
  .image-text {
    font-size: clamp(20px, 1.35vw, 26px);
  }
}

@media (max-width: 360px) {
}
